.InputScreen {
}

.InputScreen_header {
  flex: 0 0 70px;
}

.InputScreen_description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.InputScreen_example {
  cursor: default;
}

.InputScreen_help {
  height: 0;
  overflow-y: hidden;
  padding: 0 10px;
  transition: height 500ms ease-in, padding-top 500ms ease-in, padding-bottom 500ms ease-in;
}

.InputScreen_help__open {
  padding: 10px 10px;
  height: 100px;
}

.InputScreen_footer {
  margin-top: 10px;
  flex: 0 0 20px;
}

.InputScreen_form {
  flex: 1 1 auto;
  display: flex;
}

.InputScreen_textarea {
  width: 100%;
  background: white;
  border: solid 1px #222222;
  overflow-y: scroll;
  overflow-x: hidden;
  resize: none;
}
