.PreviewEntry {
  height: 64px;
  margin-bottom: 10px;
  background: aliceblue;
  display: flex;
}

.PreviewEntry_tumbler {
  flex: 0 0 40px;
  background: #6f23cc;
  display: flex;
  align-items: center;
  padding: 4px;
}

.PreviewEntry_thumbnail {
  flex: 0 0 80px;
  background: #bbeeee;
}

.PreviewEntry_info {
  flex: 1 1 auto;
  background: antiquewhite;
  white-space: nowrap;
  overflow-x: hidden;
}

.PreviewEntry_link {
  height: 18px;
  line-height: 18px;
}

.PreviewEntry_title {
  font-weight: 400;
  font-size: 20px;
  height: 28px;
  line-height: 28px;
}

.PreviewEntry_progressbar {
  background: #779977;
  height: 18px;
  line-height: 18px;
}

.PreviewEntry_status {
  flex: 0 0 30px;
  background: #9999cc;
}
