.PreviewEntry {
  height: 62px;
  margin-bottom: 10px;
  background: aliceblue;
  display: flex;
  overflow: hidden;
}

.PreviewEntry_thumbnail {
  flex: 0 0 80px;
  background: #bbeeee;
}

.PreviewEntry_info {
  flex: 1 1 auto;
  background: antiquewhite;
  white-space: nowrap;
  overflow: hidden;
}

.PreviewEntry_link {
  font-size: 18px;
  height: 20px;
  line-height: 20px;
}

.PreviewEntry_title {
  font-weight: 400;
  font-size: 18px;
  height: 20px;
  line-height: 20px;
}

.PreviewEntry_progressbar {
  background: #779977;
  font-size: 16px;
  height: 18px;
  line-height: 18px;
}

.PreviewEntry_control {
  flex: 0 0 30px;
  background: #9999cc;
  height: 24px;
  line-height: 24px;
}

.PreviewEntry__disabled {
  height: 0;
  transition: height 0.3s ease-in 0s;
}
